body {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  display: flex;
  justify-content: center;
  background-color: rgba(241, 241, 241, 1);
}
.box {
  width: 300px;
  padding: 30px;
  top: 50%;
  left: 50%;
  background: rgb(202, 202, 202);
  text-align: center;
  border: 3px solid rgb(17, 34, 51);
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 5px 10px;
}

.box h1 {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 700;
}
.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid rgb(17, 34, 51);
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 24px;
  transition: 0.25px;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 270px;
  border-color: rgb(88, 125, 161);
  transition: 0.5s;
}
.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 3px solid rgb(17, 34, 51);
  padding: 14px 10px;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 24px;
  transition: 0.25px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100px;
}
.box input[type="submit"]:hover {
  background-color: rgb(88, 125, 161);
  transition: 0.5s;
}
